.container-div {

  header {
    color: rgb(189, 66, 145);

    .title-h1 {
      text-align: center;
      color: rgb(189, 66, 145);
      font-size: 42px;
    }

    .form-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;

      .filter-phrase {
        font-size: 24px;
        font-weight: 600;
      }

      .input-phrase {
        margin-left: 53px;
        font-size: 16px;
        width: 124px;

        @media (max-width: 370px) {
          margin-right: 55px;
          margin-left: 0;
        }
      }

      .filter-character {
        font-size: 24px;
        font-weight: 600;
      }

      .input-character {
        margin-left: 4px;
        font-size: 16px;
        width: 131px;
        color: rgb(83, 191, 157);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list {
      list-style: none;
      padding: 0;
      text-align: justify;
      width: 50%;

      .list-element {
        margin-bottom: 8px;
        color: rgb(83, 191, 157);
        border: 1px solid rgb(189, 66, 145);
        border-radius: 5px;
        padding: 5px;
      }
    }

    .title-h2 {
      text-align: center;
      color: rgb(189, 66, 145);
    }

    .form-main {
      margin-bottom: 25px;
      gap: 24px;
      display: flex;

      .add-phrase {
        color: rgb(83, 191, 157);
      }

      .input-main {
        margin-left: 8px;
        border: 1px solid rgb(189, 66, 145);
      }
    }

    .button {
      display: flex;
      justify-content: center;

      .add-button {
        background-color: rgb(189, 66, 145);
        color: rgb(83, 191, 157);
        border: none;
        border-radius: 5px;
        width: 148px;
        height: 36px;
      }
    }
  }
}